<?xml version="1.0" encoding="UTF-8"?>

<!--
Don't forget to set system property
    -Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
to make all loggers asynchronous.

see log4j2.component.properties
-->

<Configuration status="INFO">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="file" fileName="treasure-box-jfr/parse.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="false">
<!--            <AppenderRef ref="stdout"/>-->
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
